<div class="hero-video">
    <video loop="loop" autoplay="" playsinline="" muted="" id="" preload="none" style="">
        <source type="video/mp4" src="{{ section.settings.video.sources[1].url | default: "master" }}">  
    </video>
    <div class="overlay"></div>
    <div class="rich-text">
        <h2 class="heading rt-heading"> 
            {{ section.settings.title }}
        </h2>
        <div class="rt-text center"> 
            {{ section.settings.text }}
        </div>
        <a class="home-button" href="{{ section.settings.button_url }}" target="_blank">{{ section.settings.button_label }}</a>
    </div>
</div>

{% schema %}
{
    "name": "Hero video",
    "settings": [
        {
            "type": "video",
            "id": "video",
            "label": "IW Technologies Hero Video"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Section Heading"  
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Description",
            "default": "<p>Write your descrption here.</p>"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Button"
        },
        {
            "type": "text",
            "id": "button_url",
            "label": "Button Url",
            "default": "https://weareiw.com"
        }
    ],
    "presets": [
        {
            "name": "Hero video",
            "category": "Video"
        }
    ]
}
{% endschema %}