<div class="industry section">
    <h1 class="section-heading">{{ section.settings.section_title }}</h1>
    <div class="industry-row">
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_1.src }}" />
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_2.src }}" />
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_3.src }}" />
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_4.src }}" />
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_5.src }}" />
        <img class="industry-icon" src="{{ 'https://cdn.shopify.com/s/files/1/0692/7381/3217/' | append: section.settings.industry_icon_6.src }}" />
    </div>
</div>


{% schema %}
{
    "name": "Industry Section",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "My Section Title"  
        },
        {
            "type": "image_picker",
            "id": "industry_icon_1",
            "label": "Industry Icon #1"
        },
        {
            "type": "image_picker",
            "id": "industry_icon_2",
            "label": "Industry Icon #2"
        },
        {
            "type": "image_picker",
            "id": "industry_icon_3",
            "label": "Industry Icon #3"
        },
        {
            "type": "image_picker",
            "id": "industry_icon_4",
            "label": "Industry Icon #4"
        },
        {
            "type": "image_picker",
            "id": "industry_icon_5",
            "label": "Industry Icon #5"
        },
        {
            "type": "image_picker",
            "id": "industry_icon_6",
            "label": "Industry Icon #6"
        }
    ],
    "presets": [
        {
            "name": "Industry Icons",
            "category": "Image"
        }
    ]
}
{% endschema %}